/node_modules/
/lib/
/test/
custom-elements.json
# top level source
animated-sudoku.js
animated-sudoku.js.map
animated-sudoku.d.ts
animated-sudoku.d.ts.map
# only generated for size check
animated-sudoku.bundled.js